@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap');
:root {
    --max-width-desktop: 92rem;
    --sedan-background:hsl(31, 77%, 52%);
    --suv-background: hsl(184, 100%, 22%);
    --luxury-background: hsl(179, 100%, 13%);
    --white-basic: #fff;
    --main-font-family: 'Lexend Deca', sans-serif;;
    --title-font-family: 'Big Shoulders Display', cursive;
    --light-font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var(--main-font-family);
    font-weight: var(--light-font-weight);
} 

.page {
    max-width: var(--max-width-desktop);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--white-basic);
}

.car-card {
    padding: 5rem;
}

.car-card:nth-child(1) {
    background-color: var(--sedan-background);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.car-card:nth-child(1) button{
    color: var(--sedan-background);
}

.car-card:nth-child(2) {
    background-color: var(--suv-background);
}

.car-card:nth-child(2) button{
    color: var(--suv-background);
}

.car-card:nth-child(3) {
    background-color: var(--luxury-background);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.car-card:nth-child(3) button{
    color: var(--luxury-background);
}

.car-card h2,
.car-card p {
    margin-top: 3rem;
}

.car-card h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: var(--title-font-family);
}

.car-card p {
    font-size: 1.6rem;
    line-height: 1.6;
}

.car-card button {
    border: 2px solid transparent;
    background-color: var(--white-basic);
    color: inherit;
    padding: 1.5rem 3rem;
    border-radius: 100px;
    margin-top: 8rem;
    font-size: 1.5rem;
    font-weight: var(--light-font-weight);
    cursor: pointer;
    transition: .2s all ease;
}

.car-card button:hover {
    border: 2px solid var(--white-basic);
    color: var(--white-basic);
    background-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 950px) {
    .html {
        font-size: 56.25%;
    } 
    .page {
        max-width: 76rem;
    }

    .car-card h2,
    .car-card p {
        margin-top: 2rem;
    }

    .car-card {
        padding: 3rem 2.5rem;
    }

    .car-card button {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .page {
        flex-direction: column;
        max-width: 34rem;
        margin: 20px auto;
        width: 90%;
    }

    .car-card:nth-child(1) {
        background-color: var(--sedan-background);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .car-card:nth-child(3) {
        background-color: var(--luxury-background);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
    }

    .car-card button {
        margin-top: 3rem;
    }
}